dl.stack dt {
	font-weight: bold;
}
dl.stack dd + dt {
	margin-top: 1em;
}
dl.stack dd {
	font: 11px/16px monospace;
	margin-left: 20px;
	max-width: 50em;
}

p.result {
	color: #00aa00;
}
dl.stack + p.result {
	margin-top: 1em;
}
p.result.failed {
	color: #aa0000;
}